body {
  margin: 0 ;
  padding: 15px;
  background-color: #ccc;
}
canvas {
  border: solid 2px #000;
  background-color: #fff;
  display: block;
  margin: 0px auto 0px auto;
  padding-left: 0;
  padding-right: 0;
}
